In [1]:
import pandas as pd

In [2]:
# Import dataset
dataset_url = "https://archive.ics.uci.edu/ml/machine-learning-databases/abalone/abalone.data"
dataset = pd.read_csv(dataset_url, sep=',')
dataset.columns = ["Sex", "Length", "Diameter", "Height", "Whole weight", "Shucked weight", "Viscera weight", "Shell weight", "Rings"]

In [3]:
# Dataset dimensions
print(dataset.shape)

(4176, 9)

In [4]:
# First 5 instances in datadet
dataset.head()

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
1,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
2,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
3,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7
4,I,0.425,0.300,0.095,0.3515,0.1410,0.0775,0.120,8

In [5]:
# Dataset Description
dataset.describe()

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
count,4176.000000,4176.000000,4176.000000,4176.000000,4176.00000,4176.000000,4176.000000,4176.000000
mean,0.524009,0.407892,0.139527,0.828818,0.35940,0.180613,0.238852,9.932471
std,0.120103,0.099250,0.041826,0.490424,0.22198,0.109620,0.139213,3.223601
min,0.075000,0.055000,0.000000,0.002000,0.00100,0.000500,0.001500,1.000000
25%,0.450000,0.350000,0.115000,0.441500,0.18600,0.093375,0.130000,8.000000
50%,0.545000,0.425000,0.140000,0.799750,0.33600,0.171000,0.234000,9.000000
75%,0.615000,0.480000,0.165000,1.153250,0.50200,0.253000,0.329000,11.000000
max,0.815000,0.650000,1.130000,2.825500,1.48800,0.760000,1.005000,29.000000

In [6]:
X = dataset.iloc[:,0:8] 
y = dataset["Rings"]

In [7]:
#TODO
# 1. Split the data into train-test sets / apply cross-validation
# 2. Train the model on training data / use cross-validation
# 3. Predict target values using test data / use cross-validation 
# 4. Find accuracy and f1_score of the model comparing with actual test data ground truth targets / use cross-validation